<launch>

 <include file="$(find spiri_description)/launch/spiri_empty_world.launch" />
 <include file="$(find spiri_teleop)/launch/keyboard_teleop.launch" />

 <node name="spiri_pose_estimation" type="spiri_sim_pose_estimation" pkg="spiri_pose_estimation" output="screen" />


  <!--<include file="$(find spiri_teleop)/launch/logitech_gamepad.launch">
    <arg name="joy_dev" value="/dev/input/js1"/>
  </include>-->


</launch>
